
<h1>Dinosaurs | <%= link_to "add a new topic", new_topic_path %></h1>
<ul>
  <% @topics.each do |topic| %>
  <div class="panel panel-transparent">
    <li>
      <%= link_to topic.title, topic_path(topic) %> |
      <%= link_to "Edit", edit_topic_path(topic) %>
    </li>
  </div>
  <% end %>
</ul>
